---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="bg-slate-50 py-16">
    <div class="mx-auto max-w-3xl px-6">
      <div class="overflow-hidden rounded-xl bg-white shadow-sm">
        <img
          src="/images/berita/berita-7.jpg"
          alt="Perkuat Air Bersih"
          class="h-72 w-full object-cover"
        />

        <div class="p-6">
          <h1 class="text-2xl font-bold text-slate-800">
            Pererat Ukhuwah, Yasinan Rutin Bapak-Bapak dan Ibu-ibu Digelar
            Bergiliran
          </h1>

          <p class="mt-4 text-slate-700 leading-relaxed">
            RELIGI – Tradisi yasinan malam Jumat di Desa Srimulya Jaya tetap
            terjaga dengan baik. Secara bergiliran dari rumah ke rumah,
            bapak-bapak berkumpul untuk berdoa bersama.

            <p class="mt-3 text-slate-700 leading-relaxed">
              Sedangkan ibu ibu berkumpul untuk pengajian bersama dihari jumat
              siangnya. Kegiatan ini menjadi fondasi kuat dalam menjaga
              kerukunan dan nilai religius di lingkungan masyarakat.
            </p>

            <div class="mt-8 flex justify-end">
              <a
                href="/berita"
                class="rounded-lg bg-blue-600 px-5 py-2 text-sm font-medium text-white transition hover:bg-blue-700"
              >
                Kembali ke Berita
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
