---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="bg-slate-50 py-16">
    <div class="mx-auto max-w-6xl px-6 text-center">
      <h2 class="text-3xl font-bold text-blue-600">GALERI</h2>
      <p class="mt-2 text-slate-700">
        Galeri kegiatan perangkat desa dan masyarakat di Desa Srimulya Jaya
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-6xl px-6">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
        <img
          src="/images/galeri/galeri-1.jpg"
          alt="Kegiatan Desa 1"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-2.jpg"
          alt="Kegiatan Desa 2"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-3.jpg"
          alt="Kegiatan Desa 3"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-4.jpg"
          alt="Kegiatan Desa 4"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-5.jpg"
          alt="Kegiatan Desa 5"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-6.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-7.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-8.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-9.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-10.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-11.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-12.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-13.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-14.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-15.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-16.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-17.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-18.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-19.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-20.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-21.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
        <img
          src="/images/galeri/galeri-22.jpg"
          alt="Kegiatan Desa 6"
          class="h-64 w-full rounded-lg object-cover"
        />
      </div>
    </div>
  </section>
</MainLayout>
