@import "tailwindcss";

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(0%);
  }
  38% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-100%);
  }
  71% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-slide {
  width: 300%;
  animation: slide 18s infinite;
}
